body {
  background: linear-gradient(45deg, #3b4654, #1c252c);
  background-size: 100% 100vh; /* This will stretch the gradient to fit the viewport height */
  color: #fff;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline
}